.part-1{
margin-bottom: 30px;
}
.Section-1{
    
    background-image: url("images/banner.jpg");
    background-size: cover;
    padding: 0px;
    
}
.sc-1{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 200px;
    color: white;
}